<% layout('layouts/boilerplate') -%>
    
<div class="row">
    <h1 class="text-center">Edit Booking</h1>
    <div class="col-6 offset-3">
        
    <form action="/bookings/<%= booking._id %>?_method=PUT" method="post">
        <div class="mb-3">
            <label  class="form-label" for="title">Title</label>
            <input class="form-control" type="text" placeholder="title" name="title" value="<%= booking.title%>" id="title">
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <br>
            <textarea name="description" class="form-control  placeholder="Write your description here." id="description" cols="30" rows="10"><%= booking.description%>"</textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">MAD</span>
            <input type="text" class="form-control" placeholder="Price" aria-label="Username" value="<%= booking.price%>" aria-describedby="basic-addon1">
          </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" placeholder="ex: Morocco, tangier" name="location" value="<%= booking.location%>" id="location">
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image</label>
            <input class="form-control" type="text" placeholder="ex: www.image.com/link" value="<%= booking.image%>" name="image" id="image">
        </div>
        <div>
            <button class="btn btn-success">Update</button>
        </div>
    </form>
    </div>
</div>